:root {
    --header-height: 100px;
    --header-mini-screen-height: 150px;
    --header-extra-mini-screen-height: 200px;
    --title-font-size: 2.5rem;
    --footer-height: 50px;
    --easy-col-row: 7;
    --medium-col-row: 9;
    --hard-col-row: 10;
    --main-bg-color: 127, 255, 212;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}
/* flex */
header.header,
.header-left,
.header-right,
main.main,
footer.footer {
    display: flex;
    align-items: center;
}
/* header */
header.header {
    justify-content: space-between;
    height: var(--header-height);
    /* background-color: yellow; */
}
/* .header-left,.header-right {
    background-color: goldenrod;
} */
/* header-left */
h1.title {
    display: inline-block;
    font-size: var(--title-font-size);
}
#logo {
    padding: 0 2rem;
}
/* header-right */
.header-right{
    padding-right: 1rem;
    column-gap: 0.2rem;
}
span.difficulty {
    font-size: 115%;
}
select > option {
    width: 6rem;
}
button.btn-play {
    padding: 0 1.5rem;
}
/* container */
main.main {
    justify-content: center;
    height: calc(100vh - var(--header-height) - var(--footer-height));
    background-color: rgb(var(--main-bg-color));
    min-height: 500px;
}
.container {
    display: flex;
    width: 700px;
    height: 500px;
    /* background-color: red; */
    flex-wrap: wrap;
    /* border: 1px solid black; */
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.square--easy {
    width: calc(100% / var(--easy-col-row));
    height: calc(100% / var(--easy-col-row));
}
.square--medium {
    width: calc(100% / var(--medium-col-row));
    height: calc(100% / var(--medium-col-row));
}
.square--hard {
    width: calc(100% / var(--hard-col-row));
    height: calc(100% / var(--hard-col-row));

}
/* footer */
.footer {
    height: var(--footer-height);
}
.copyright {
    margin-left: 1rem;
}
.copyright > .fas.fa-heart {
    color: black;
}

@media screen and (max-width: 682px){
    header.header {
        height: var(--header-mini-screen-height);
    }
    main.main {
        height: calc(100vh - var(--header-mini-screen-height) - var(--footer-height));
    }
}

@media screen and (max-width: 577px){
    header.header {
        height: var(--header-extra-mini-screen-height);
    }
    main.main {
        height: calc(100vh - var(--header-extra-mini-screen-height) - var(--footer-height));
    }
}