:root {
    --header-height: 100px;
    --header-mini-screen-height: 150px;
    --header-extra-mini-screen-height: 200px;
    --title-font-size: 2.5rem;
    --footer-height: 50px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}
/* flex */
header.header,
.header-left,
.header-right,
main.main,
footer.footer {
    display: flex;
    align-items: center;
}
/* header */
header.header {
    justify-content: space-between;
    height: var(--header-height);
    width: 100%;
    /* background-color: yellow; */
}
/* .header-left,.header-right {
    background-color: goldenrod;
} */
/* header-left */
h1.title {
    display: inline-block;
    font-size: var(--title-font-size);
}
#logo {
    padding: 0 2rem;
}
/* header-right */
.header-right{
    padding-right: 1rem;
    column-gap: 0.2rem;
}
span.difficulty {
    font-size: 115%;
}
select > option {
    width: 6rem;
}
button.btn-play {
    padding: 0 1.5rem;
}
/* container */
main.main {
    justify-content: center;
    height: calc(100vh - var(--header-height) - var(--footer-height));
}
.container {
    min-height: 500px;
    display: flex;
    width: 700px;
    height: 500px;
    background-color: red;
    flex-wrap: wrap;
}
.square-10 {
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid black;
}
/* footer */
@media screen and (max-width: 682px){
    header.header {
        height: var(--header-mini-screen-height);
    }
    main.main {
        height: calc(100vh - var(--header-mini-screen-height) - var(--footer-height));
    }
}

@media screen and (max-width: 577px){
    header.header {
        height: var(--header-extra-mini-screen-height);
    }
    main.main {
        height: calc(100vh - var(--header-extra-mini-screen-height) - var(--footer-height));
    }
}